@model List<YSent.Models.Template>

<div class="container-fluid">
    <!-- External CSS and JS -->
    <link href="https://sendy.co/demo/css/tablesorter.css?30" rel="stylesheet">
    <script type="text/javascript" src="https://sendy.co/demo/js/tablesorter/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="https://sendy.co/demo/js/tablesorter/jquery.tablesorter.widgets.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').tablesorter({
                widgets: ['saveSort'],
                usNumberFormat: true,
                sortReset: true,
                sortRestart: true,
                headers: { 2: { sorter: false }, 5: { sorter: false }, 6: { sorter: false } }
            });

            $("#feed-url").mouseover(function () {
                $(this).selectText();
            });
        });
    </script>

    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome for Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


    <style>
        .navbar {
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        }

        .navbar-brand {
            /* Make the brand name stand out */
            font-size: 1.2rem;
        }

        .nav-link {
            font-size: 1.1rem;
            margin: 0 10px; /* Add spacing between links */
            transition: color 0.3s ease; /* Smooth hover effect */
        }

            .nav-link:hover {
                color: #007bff !important; /* Change color on hover */
            }

        .navbar-toggler {
            border: none;
        }

            .navbar-toggler:focus {
                outline: none;
            }
    </style>




    <!-- Professional Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Brand Logo -->
            <a class="navbar-brand" href="#">
                Templates
            </a>

            <!-- Toggle Button for Mobile -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <!-- Align links to the right -->
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Email" asp-action="MailBox">All Mails</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Email" asp-action="Send">Start New Service</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="abc">All Templates</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="List" asp-action="Index">EMail List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="BlackList">Black List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Email" asp-action="Sent">Results</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>





    <div class="span10">
        <div style="clear:both;">
            <hr>
            <div style="clear:both; margin-bottom: 13px;">
                <a href="NewTemplate" class="btn btn-primary" id="new-list-btn">
                    <i class="fas fa-plus-circle"></i> Create New Template
                </a>
            </div>
            <hr>
            <div>
                <h3>Template List</h3>
                <!-- Template List Table -->
                <table class="table table-striped responsive tablesorter">
                    <thead>
                        <tr>
                            <th>Template Name</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var template in Model)
                        {
                            <tr>
                                <td>@template.TemplateName</td>
                                <td>@template.CreatedAt.ToString("yyyy-MM-dd")</td>
                                <td>
                            <a href="@Url.Action("EditTemplate", "Home", new { id = template.Id })" class="btn btn-primary btn-sm">Edit</a>
                                    <form method="post" action="@Url.Action("DeleteTemplate", "Home", new { id = template.Id })" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this template?');">Delete</button>
                                    </form>
                                    
                                    </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </div>
</div>

<style>
    body.tablesorter-disableSelection {
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .tablesorter-resizable-container {
        position: relative;
        height: 1px;
    }

    .tablesorter-resizable-handle {
        position: absolute;
        display: inline-block;
        width: 8px;
        top: 1px;
        cursor: ew-resize;
        z-index: 3;
        user-select: none;
        -moz-user-select: none;
    }
</style>